/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

.prism-code .token.comment {
  color: #6e7781 !important; /* from: comment */
}

.prism-code .token.string {
  color: #0a3069 !important; /* from: string */
}

.prism-code .token.char {
  color: #0a3069 !important; /* reuse tokenColors.string */
}

.prism-code .token.version-symbol {
  color: #0550ae !important; /* from: constant, support, meta.property-name */
}

.prism-code .token.boolean {
  color: #116329 !important; /* from: entity.name.tag */
}

.prism-code .token.directive {
  color: #0550ae !important; /* from: support, meta.property-name */
}

.prism-code .token.label {
  color: #8250df !important; /* from: entity.name.function */
}

.prism-code .token.instruction {
  color: #cf222e !important; /* from: keyword */
}

.prism-code .token.variable {
  color: #953800 !important; /* from: entity.name, variable */
}

.prism-code .token.number {
  color: #0550ae !important; /* from: constant */
}

.prism-code .token.register {
  color: #953800 !important; /* from: entity.name, variable */
}

.prism-code .token.operator {
  color: #cf222e !important; /* from: keyword, storage */
}

.prism-code .token.punctuation {
  color: #1f2328 !important; /* from: variable.parameter.function, meta.block */
}
