/* 黑色 */
.term-fg30 {
  color: #212121;
}

/* 红色 */
.term-fg31 {
  color: #d72b82;
}

/* 绿色 */
.term-fg32 {
  color: #009668;
}

/* 黄色 */
.term-fg33 {
  color: #8c8000;
}

/* 蓝色 */
.term-fg34 {
  color: #0088be;
}

/* 洋红色 */
.term-fg35 {
  color: #8570b1;
}

/* 青色 */
.term-fg36 {
  color: #008ea3;
}

/* 白色 */
.term-fg37 {
  color: #e0e0e0;
}

/* high intense colors */
/* 高亮绿色（特殊） */
.term-fgi1 {
  color: #44bf98;
}

/* 高亮黑色 */
.term-fgi90 {
  color: #212121;
}

/* 高亮红色 */
.term-fgi91 {
  color: #ff4195;
}

/* 高亮绿色 */
.term-fgi92 {
  color: #44bf98;
}

/* 高亮黄色 */
.term-fgi93 {
  color: #baaa00;
}

/* 高亮蓝色 */
.term-fgi94 {
  color: #0eb5f5;
}

/* 高亮洋红色 */
.term-fgi95 {
  color: #9b8fff;
}

/* 高亮青色 */
.term-fgi96 {
  color: #4eb7cb;
}

/* 高亮白色 */
.term-fgi97 {
  color: #f1f1f1;
}

/* 背景颜色样式 */
/* 黑色背景 */
.term-bg40 {
  background: #212121;
}

/* 红色背景 */
.term-bg41 {
  background: #d72b82;
}

/* 绿色背景 */
.term-bg42 {
  background: #009668;
}

/* 黄色背景 */
.term-bg43 {
  background: #8c8000;
}

/* 蓝色背景 */
.term-bg44 {
  background: #0088be;
}

/* 洋红色背景 */
.term-bg45 {
  background: #8570b1;
}

/* 青色背景 */
.term-bg46 {
  background: #008ea3;
}

/* 白色背景 */
.term-bg47 {
  background: #e0e0e0;
}

/* 高亮背景颜色样式 */
/* 高亮黑色背景 */
.term-bgi100 {
  background: #212121;
}

/* 高亮红色背景 */
.term-bgi101 {
  background: #ff4195;
}

/* 高亮绿色背景 */
.term-bgi102 {
  background: #44bf98;
}

/* 高亮黄色背景 */
.term-bgi103 {
  background: #baaa00;
}

/* 高亮蓝色背景 */
.term-bgi104 {
  background: #0eb5f5;
}

/* 高亮洋红色背景 */
.term-bgi105 {
  background: #9b8fff;
}

/* 高亮青色背景 */
.term-bgi106 {
  background: #4eb7cb;
}

/* 高亮白色背景 */
.term-bgi107 {
  background: #f1f1f1;
}
